<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap&language=ja"></script>

<div id="map" style="height: 69vh; width: 100%;"></div>

  <footer>
    <div class="footer-text">
    WanLifeはあなたとワンちゃんの楽しい1日のお手伝いをします。
    </div>
    <div class="footer-text">
    近くにあるドッグラン・ドッグカフェを探してみましょう！
    </div>
    <div class="footer-text">
    お店の名前をクリックするとクリップボードに店名がコピーされます。
    <div class="footer-info">
    <h2>WanLife</h2>
    </div>
  </footer>

<script type="text/javascript">
  var userLatitude = <%= @latitude.to_json %>;
  var userLongitude = <%= @longitude.to_json %>;
  var allMarkers = [];
  var updateTimeout;
  var currentFilter = 'Both'

  var dogcaveIconUrl = '<%= asset_path('dogcave_icon.jpg') %>';
  var dogrunIconUrl = '<%= asset_path('dogrun_icon.jpg') %>';

  function clearMarkers() {
    allMarkers.forEach(marker => marker.setMap(null));
    allMarkers = [];
  }

  function copyTextToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
      console.log('コピーに成功しました: ' + text);
    }, function(err) {
      console.error('コピーに失敗しました', err);
    });
  }

  function setFilter(filterType) {
    currentFilter = filterType;
    updateMarkers(map);
  }
  
  function addMarkers(facilities, map) {
    clearMarkers();
    
    facilities.forEach(function(facility) {
      if (currentFilter !== 'Both' && facility.type !== currentFilter) {
        return;
      }

      var position = { lat: parseFloat(facility.latitude), lng: parseFloat(facility.longitude) };
      var icon = facility.type === 'Dogcave' ? dogcaveIconUrl : dogrunIconUrl;
  
      var lat = parseFloat(facility.latitude);
      var lng = parseFloat(facility.longitude);

      var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: facility.name,
        icon: { url: icon, scaledSize: new google.maps.Size(32, 32) }
      });

        marker.addListener('click', function() {
          copyTextToClipboard(facility.name);
          alert(facility.name + " がコピーされました。");
      });
      
      allMarkers.push(marker);
    });
  }
  
  document.getElementById('filterDogCafe').addEventListener('click', function() {
    setFilter('Dogcave');
  });
  document.getElementById('filterDogRun').addEventListener('click', function() {
    setFilter('Dogrun');
  });
  document.getElementById('filterBoth').addEventListener('click', function() {
    setFilter('Both');
  });
  
  var map;
  
  function initMap() {
    var mapCenter = new google.maps.LatLng(userLatitude, userLongitude);
    
    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: mapCenter
  });
  
  map.addListener('bounds_changed', function() {
    clearTimeout(updateTimeout);
    updateTimeout = setTimeout(function() {
      updateMarkers(map);
    }, 
    5000);
    });
  }
  
  function updateMarkers() {
    var bounds = map.getBounds();
    var ne = bounds.getNorthEast();
    var sw = bounds.getSouthWest();
    
    fetch(`/dog_centers.json?ne=${ne.lat()},${ne.lng()}&sw=${sw.lat()},${sw.lng()}`)
    .then(response => response.json())
    .then(facilities => {
      addMarkers(facilities, map);
    });
  }
  
  document.addEventListener('turbolinks:load', function() {
    initMap();
  });
</script>