<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap&language=ja"></script>

<!-- 地図を表示する要素 -->
<div id="map" style="height: 480px; width: 100%;"></div>

  <footer>
    <div class="footer-text">
    WanLifeはあなたとワンちゃんの楽しい1日のお手伝いをします。
    </div>
    <div class="footer-text">
    近くにあるドッグラン・ドッグカフェを探してみましょう！
    </div>
    <div class="footer-text">
    お店の名前をクリックするとクリップボードに店名がコピーされます。
    <div class="footer-info">
    <h2>WanLife</h2>
    </div>
  </footer>

<!-- ユーザーの緯度・経度をグローバル変数として定義 -->
<script type="text/javascript">
  var userLatitude = <%= @latitude.to_json %>;
  var userLongitude = <%= @longitude.to_json %>;
  var allMarkers = [];
  var updateTimeout;

  var dogcaveIconUrl = '<%= asset_path('dogcave_icon.jpg') %>';
  var dogrunIconUrl = '<%= asset_path('dogrun_icon.jpg') %>';

  function clearMarkers() {
    allMarkers.forEach(marker => marker.setMap(null));
    allMarkers = [];
  }

  function copyTextToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
      console.log('コピーに成功しました: ' + text);
    }, function(err) {
      console.error('コピーに失敗しました', err);
    });
  }
  
  function addMarkers(facilities, map) {
    clearMarkers();
  
    facilities.forEach(function(facility) {
      var position;
      var icon;
  
      var lat = parseFloat(facility.latitude);
      var lng = parseFloat(facility.longitude);
  
      if (!isNaN(lat) && !isNaN(lng)) {
        position = { lat: lat, lng: lng };
  
        if (facility.type === 'Dogcave') {
          icon = { url: dogcaveIconUrl, scaledSize: new google.maps.Size(32, 32) };
        } else if (facility.type === 'Dogrun') {
          icon = { url: dogrunIconUrl, scaledSize: new google.maps.Size(32, 32) };
        }
  
        var marker = new google.maps.Marker({ position: position, map: map, title: facility.name, icon: icon });
  
        marker.addListener('click', function() {
          copyTextToClipboard(facility.name);
          alert(facility.name + " がコピーされました。");
        });
  
        allMarkers.push(marker);
      }
    });
  }

  function initMap() {
    var mapCenter = new google.maps.LatLng(userLatitude, userLongitude);
  
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: mapCenter
    });
  
    map.addListener('bounds_changed', function() {
      clearTimeout(updateTimeout);
      updateTimeout = setTimeout(function() {
        updateMarkers(map);
      }, 5000); // 5秒後にマーカーを更新
    });
  }
  
  function updateMarkers(map) {
    var bounds = map.getBounds();
    var ne = bounds.getNorthEast();
    var sw = bounds.getSouthWest();
  
    fetch(`/dog_centers.json?ne=${ne.lat()},${ne.lng()}&sw=${sw.lat()},${sw.lng()}`)
      .then(response => response.json())
      .then(facilities => {
        addMarkers(facilities, map);
      });
  }
  
  document.addEventListener('turbolinks:load', function() {
    initMap();
  });
</script>